/*format for profile picture*/
.profile {
border-radius: 50%;
width: 100px;
height: 100px;
}
/*format for body and paragraphs throughout the page*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
    background-color: lightskyblue;
    padding: 20px;
    display: inline-block;
}
/*Format for the header,its placements and styling*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://img.freepik.com/premium-photo/blue-sky-with-small-light-dark-clouds_199743-8368.jpg?size=626&ext=jpg&ga=GA1.1.1063561036.1680983924&semt=ais);
    color: white;
    align-items: center;
    display: flex;
}

header a {
    color: white;
    text-decoration: underline;
}

header h1 {
    color: white;
    display: inline-block;
    font-size: 48px;
    margin:auto;
}

header nav {
    padding-top: 15px;
    margin-right: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin: 15px;
    font-size: 30px;
    
}

/*Formatting,style and position of the aside tag for the titles of the sections*/

aside {
color: lightskyblue;
float: left;
margin-left: 5%;
text-align: right;
background-color: grey;
padding:10px;
padding-bottom: 20px;
width: 15%;
}

h2{
    font-size: 32px;
    margin-top:400px; 
    margin-left: auto;
    text-align: right;
    word-wrap: break-word;
    
}
#header-1 {
    margin-top: 40px;

}
#header-2 {
    margin-top: 280px;
    
}

#header-3 {
    margin-top: 700px;
    
}
/*Formatting,positions,and styling for the main content of the page*/
main {
    float:right;
    width:75%;
}
section {
    
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 20px;
margin-bottom: 40px;
margin-top: 40px;
border-left: 5px solid lightskyblue; 
}

/*Classes for the buttons in the main content and their formatting*/
.button-group{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.button1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7I-Ni4C8uH8MqnfmmmZmHO7b-Uj60PnVSgg&usqp=CAU);
    width: 100%;
    box-sizing: border-box;
    height: 300px;
    margin-bottom: 10px;
    border: 10px solid lightskyblue;
    opacity: 0.8;
    padding: 0;
    display: flex; 
    align-items: flex-end; 
}
.portfolio-project{
    width: 49%;
    height: 150px;
    
    margin-bottom: 10px;
    border: 10px solid lightskyblue;
    opacity: 0.8;
    padding: 0;  
}
.button2{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZZ0ovNq97M0wPZje_8SAnOLoE3iVcDPd3Hg&usqp=CAU);
    
    
}
.button3{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYx35gBmkErqmrPKGHQriq1OJiRIidQyU3GA&usqp=CAU);
   
    
}
.button4{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG49Zb2Y_NoHw3muShELHhgUbGXIo_4JE6eQ&usqp=CAU);
    

}
.button5{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDsKBhK2Q8NxPla5BEgz5OR9bCDhodEtH3Sg&usqp=CAU);
}
.portfolio-project div, .div1 {
    word-wrap:break-word;
    background-color: lightskyblue;
    width:100px;
    height:45px;
    padding: 10px;
    margin-bottom: 10px; 
    display: flex;
    flex-direction: column;
    
}
.div2 {
    
    word-wrap: break-word;
    background-color: lightskyblue;
    width:150px;
    height:45px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.div3{
    
    word-wrap: break-word;
    background-color: lightskyblue;
    width: 150px;
    height:45px;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    
}
.div4{
    
    word-wrap: break-word;
    background-color: lightskyblue;
    width:100px;
    height:45px;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
.div5{
    
    word-wrap: break-word;
    background-color: lightskyblue;
    width:100px;
    height:45px;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
/*Formatting for the footer and its placement/style on the page*/
footer {
    float: right;
    width: 74.8%;
    border-left: 5px solid lightskyblue ;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
footer p {
    font-size: 16px;
    background-color: lightskyblue;
    padding: 20px;
    margin-left: 2%;
    text-decoration: underline;
}
/*Opacity attributes for the buttons when hovered*/
.button1:hover{
opacity: 1;
cursor: pointer;
}
.button2:hover{
    opacity: 1;
    cursor: pointer;
}
.button3:hover{
    opacity: 1;
    cursor: pointer;
}
.button4:hover{
    opacity: 1;
    cursor: pointer;
}
.button5:hover{
    opacity: 1;
    cursor: pointer;
}
/*Media query for the page when opened on a mobile device*/
@media screen and (max-width:1200px) {
    #header-2 {
        margin-top: 320px;
    }   
    footer {
        width: 74.7%;
    }
}
@media screen and (max-width:1024px) {
    footer{
        width: 74.5%;
    }
    #header-2{
        margin-top: 350px;
    }
} 
    

@media screen and (max-width:768px){
    main{
        width: 60%;
    }
    aside {
        width: 30%;
        padding-bottom: 200px;
    }
    footer{
        width: 59.5%;
    }
    #header-2{
        margin-top:550px;
    }
    #header-3{
        margin-top: 700px;
    }
    .button3 {
        margin-bottom: 10px;
    }
    .button4 {
        margin-bottom: 10px;
    }
    
}
@media screen and (max-width:480px) {
    
    main{
        width: 60%;
        
    }
    aside{
        width: 30%;
        padding-bottom: 250px;
    }
    #header-2{
       margin-top: 950px;
    }
    #header-3{
        margin-top: 1000px;
    }
    footer{
        width: 58.8%;
    }
    .button1{
        width:200px;
    }
    .button2{
        width: 200px;
    }
    .button3{
        width: 200px;
        margin-bottom: 10px;
    }
    .button4{
        width:200px;
        margin-bottom: 10px;
        
    }
    .button5{
        width:200px;
        margin-bottom: 10px;
    }
}
